@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a "Terminal" feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

body {
  background-color: #020617; /* Slate 950 */
  color: #e2e8f0; /* Slate 200 */
}
